body {
    margin: 0;
    background-color: rgba(112, 128, 144, 0.94);
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

tr {
    width: 200px;
}

td {
    width: 150px;
    height: 150px;
    border: 5px solid black;
    text-align: center;
    cursor: pointer;
}

td:hover {
    background-color: rgba(119, 208, 235, 0.2);
}

/* fasst die border zusammen, so dass nur noch eine Border da ist */

table {
    border-collapse: collapse;
    margin-top: 30px;
}

/* Erste Reihe, alle Spalte(n) */

tr:first-child td {
    border-top: 0
}

/*Letzte Reihe, alle Spalte(n) */

tr:last-child td {
    border-bottom: 0;
}

/* Jede Reihe, Erste Spalte */

tr td:first-child {
    border-left: 0;
}

/* Jede Reihe, letzte Spalte */

tr td:last-child {
    border-right: 0;
}

.shape {
    width: 100px;
    height: 100px
}

.hide {
    display: none;
}

.disabled {
    pointer-events: none;
    background-color: #85878b61;
}

.players-container {
    font-size: 24px;
    display: flex;
}

.players {
    display: flex;
    align-items: center;
    padding: 10px;
    font-weight: bold;
}

.current-player {
    color: rgb(134, 221, 75);
    /* font-weight: bold; */
    border-radius: 50px;
}

.player-inactive {
    opacity: 0.5;
}

.players img {
    width: 40px;
    margin: 10px;
}

.winner-line {
    height: 10px;
    background-color: rgb(8, 199, 40);
    width: 400px;
    position: absolute;
    transform: scaleY(0.0);
    transition: transform 225ms ease-in-out;
    z-index: 1;
}

.make-vertical {
    transform: rotate(90deg) scaleX(0.0);
}

.end-screen {
    background-color: rgba(78, 77, 77, 0.884);
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

.end-screen-center {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes zoomIn {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.inner-end-screen {
    width: 400px;
    height: 200px;
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-image: url(/img/konfetti.jpg);
    background-size: cover;
    animation: zoomIn 425ms ease-in-out;
}

.end-screen-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
}

.winner-name {
    padding: 20px;
    font-size: 30px;
}

.replay-btn {
    border: none;
    color: white;
    font-size: 18px;
    background-color: turquoise;
    border-radius: 5px;
    width: 180px;
    margin: 20px;
    padding: 20px;
    box-shadow: 1px 1px 15px 6px;
}

.replay-btn:hover {
    cursor: pointer;
    background-color: rgb(68, 67, 71);
}